@media (max-width: 3000px){
  a{ 
    font-size: 35px;
}
  .menu {
    display: flex;
    padding: 5px; 
    background-color: black;
    justify-content: left;
    }
  .menu a {
  display:flex;
  min-width: 200px;
  margin: 1rem;
  padding: 0.1rem 0;
  text-align: center;  
  background-color: white;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  transition: color 400ms;
  transform-style: preserve-3d;
  }





.menu a:hover {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgb(107, 107, 107);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    margin: 1rem;
    opacity: 1;
    border: 3px solid rgb(32, 32, 32);
    border-radius: 5px;
    min-width: 250px;
    min-height: 10px;
  }
  
  .select {
    font-family:'Lobster', cursive ;
    display: flex;
    padding: 4px;
    justify-content: left;
    margin-left: 3vh;
}
}

@media (max-width: 900px){
  a{ 
    font-size: 15px;
}
  .menu {
    display: flex;
    padding: 0px; 
    background-color: rgb(194, 0, 0);
    justify-content: center;
    }
  
  .menu a {
  display: flex;
  min-width: 20px;
  margin: 1rem;
  padding: 0.1rem 0;
  text-align: center;  
  background-color: white;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  transition: color 400ms;
  transform-style: preserve-3d;
  }




.menu a:hover {
    font-family: 'Rubik Mono One', sans-serif;
    background-color: rgb(107, 107, 107);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    margin: 1rem;
    opacity: 1;
    border: 3px solid rgb(32, 32, 32);
    border-radius: 5px;
    min-width: 25%;
    min-height: 10%;
  }
  

}